.generator {
    width: 100%;
    display: flex;
    background-color: $white;
    padding: $padding;
    gap: 30px;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    z-index: 1;

    .texture-wrapper {
        width: 100%;
        max-height: 400px;
        max-width: 400px;
        aspect-ratio: 1/1;

        .texture {
            background-image: url("https://texturegenerator.sirv.com/Images/paper.jpg");
            height: 100%;
            width: 100%;
        }
    }

    .settings-export {
        gap: 20px;
        height: 100%;
        width: 100%;
    }

    .settings {
        height: 100%;
        gap: 10px;
        user-select: none;
    }

    .code-export {
        background-color: $black;
        padding: $padding+10 $padding;
        box-shadow: rgba(100, 100, 111, 0.3) 0px 7px 29px 0px;
        position: relative;
        transition: 0.2s;

        p {
            color: $purple;
            font-family: Consolas;
            font-weight: 700;
            font-size: $code;
            width: 100%;
            word-wrap: break-word;
            white-space: nowrap;
            /* Add this line to prevent text wrapping */

            span {
                color: lightblue;
            }
        }

        &::after {
            content: 'copied!';
            background-color: $brown;
            position: absolute;
            text-align: center;
            width: 100%;
            left: 0;
            bottom: 0;
            animation: copiedNotification 0.5s alternate;
        }

        @keyframes copiedNotification {
            from {
                font-size: 0;
            }

            to {
                // height: 20%;
                font-size: 16px;

            }
        }

        .copy {
            background-color: $purple;
            width: fit-content;
            padding: 2px 5px;
            position: absolute;
            top: 0;
            right: 0;
            // border: $brown solid 2px;
            cursor: pointer;
            user-select: none;
            transition: 0.1s;

            &:active {
                transform: scale(1.2) translate(-2px, 2px);
            }
        }
    }

    .slider,
    .checkbox {
        gap: 5px;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        background-color: transparent;

        &::-webkit-slider-runnable-track {
            background-color: $blue;
            height: 10px;
            border-radius: 20px;
        }

        &::-moz-range-track {
            background-color: $blue;
            height: 10px;
        }

        &::-webkit-slider-thumb {
            appearance: none;
            background-color: $purple;
            height: 10px;
            width: 10px;
            border-radius: 50px;
            outline: 3px $black solid;
        }

        &::-moz-range-thumb {
            appearance: none;
            background-color: $purple;
            height: 10px;
            width: 10px;
            border-radius: 50px;
            outline: 3px $black solid;
        }
    }



    .check {
        position: relative;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        appearance: none;
        background-color: #bbb;
        border: 2px rgba(0, 0, 0, 0.185) solid;
        transition: all .3s;
    }

    .check::before {
        content: '';
        position: absolute;
        border: solid #fff;
        display: block;
        width: .3em;
        height: .6em;
        border-width: 0 .2em .2em 0;
        z-index: 1;
        opacity: 0;
        right: calc(50% - .3em);
        top: calc(50% - .5em);
        transform: rotate(0deg);
        transition: all .3s;
        transform-origin: center center;
    }

    .check:checked {
        animation: a .3s ease-in forwards;
        background-color: $blue;
    }

    .check:checked::before {
        opacity: 1;
        transform: rotate(405deg);
    }

    @keyframes a {
        0% {
            opacity: 1;
            transform: scale(1) rotateY(0deg);
        }

        50% {
            opacity: 0;
            transform: scale(.8) rotateY(180deg);
        }

        100% {
            opacity: 1;
            transform: scale(1) rotateY(360deg);
        }
    }

}