// COLORS
$black: #0F0F0F;
$light-black: #272727;
$white: #f9f9f9;
$pink: #D9A9C8;
$yellow: #f0d654;
$red: #BF4163;

// LAYOUT
$layoutPadding: 20px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS
$sec: 0.5s;