// COLORS
$grey: rgb(94, 100, 114);
$black: #30343fff;
$white: #fafaffff;
$purple: #e4d9ffff;
$pinker: #ffc1ea;
$brown: #E6BB3C;
$browner: #e1c051;
$blue: #273469ff;
$dark-blue: #1e2749ff;

// LAYOUT
$layoutPadding: 20px;
$padding: 20px;

// BREAKPOINTS
$mobile-breakpoint: 460px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 960px;
$wide-dekstop-breakpoint: 1200px;

// VARS
$sec: 0.5s;

// TYPOGRAPHY
$code: 12px;
$p: 18px;
$h2: 24px;