.home {
    height: 100%;
    width: 100%;

    .texture-bg {
        position: absolute;
        min-height: 100vh;
        height: 100%;
        width: 100%;
        z-index: -1;
        background-image: url("https://texturegenerator.sirv.com/Images/paper.jpg");
        background-color: black;
        background-size: cover;
        transition: background-image 0.3s;
    }

    .texture-bg-color {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: -2;
    }

    input[type="color"] {
        -webkit-appearance: none;
        border: none;
        width: 62px;
        height: 32px;
    }

    input[type="color"]::-webkit-color-swatch-wrapper {
        padding: 0;
    }

    input[type="color"]::-webkit-color-swatch {
        border: none;
    }
}