* {
    box-sizing: border-box;
}

html {
    transition: 0.2s;
    // font-family: Rubik;
    height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    background-color: burlywood;
    height: 100%;
    width: 100%;
    position: relative;

    ::selection {}
}

a {
    text-decoration: none;

    &:visited {
        color: inherit;
    }
}

p,
h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 10px;
}